  <div class="container bannerShoe">
  <div class="row buy">
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg1}}" alt="shoe" class="img-fluid">
      <h4>{{shoedata.shoe1}}</h4>
      <p>Price: <span>{{shoedata.price1}}</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg2}}" alt="shoe" class="img-fluid">
      <h4>{{shoedata.shoe2}}</h4>
      <p>Price: <span>{{shoedata.price2}}</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg3}}" alt="shoe" class="img-fluid">
      <h4>{{shoedata.shoe3}}</h4>
      <p>Price: <span>{{shoedata.price3}}</span></p>
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg4}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe4}}</h4>           
      <p>Price: <span>{{shoedata.price4}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg5}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe5}}</h4>           
      <p>Price: <span>{{shoedata.price5}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg6}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe6}}</h4>           
      <p>Price: <span>{{shoedata.price6}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg7}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe7}}</h4>           
      <p>Price: <span>{{shoedata.price7}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg8}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe8}}</h4>           
      <p>Price: <span>{{shoedata.price8}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg9}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe9}}</h4>           
      <p>Price: <span>{{shoedata.price9}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg10}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe10}}</h4>           
      <p>Price: <span>{{shoedata.price10}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg11}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe11}}</h4>           
      <p>Price: <span>{{shoedata.price11}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
    <div class="col-xs-6 col-md-4 col-lg-3">
      <img src="/images/{{shoedata.shoeimg12}}" alt="shoe" class="img-fluid">           
      <h4>{{shoedata.shoe12}}</h4>           
      <p>Price: <span>{{shoedata.price12}}</span></p>           
      <button>Add to Cart &nbsp;&nbsp;&nbsp;<i class="fas fa-heart"></i></button>
    </div>
  </div>
  </div>